<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>faceBook clone Forgot Password</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
                integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"/>
        <!-- My css -->
        <link rel="stylesheet" th:href="@{/style.css}" />
    </head>
    <body>

        <div class="container">
            <div class="row ml-5 mr-5">
                <div class="col-lg-7">
                    <h1 class="logo mt-5">facebook</h1>
                    <p class="intro">
                        Facebook helps you connect and share <br> with the people in your life.
                    </p>
                </div>
                <div class="col-lg-5">
                    <div class="shadow p-3 mb-5 bg-body rounded text-center mt-5">
                        <h4 class="mt-4">Find Your Account</h4>
                        <p>
                            Please enter your email address or phone number to search for your account.</p>

                        <form action="" class="form-group">
                            <input class="form-control mb-3" type="text" name="text" placeholder="Email address or phone number">
                        </form>
                        <div class="row">
                            <div class="col-lg-4"></div>
                            <div class="col-lg-4">
                                <a th:href="@{/index}" class="btn btn-light btn-block" type="submit">Cancel</a>
                            </div>
                            <div class="col-lg-4">
                                <a href="##" class="btn btn-primary btn-block" type="submit">Search</a>
                            </div>
                        </div>


                    </div>
                </div>
            </div>


        </div>
    </body>
</html>