<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>facebook Clone</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"/>
</head>
<body>
<h1 class="mb-4 text-center">
    <h5 class="alert-success text-center" th:text="${message}"></h5>
</h1>
<div class="container">
    <div class="row ml-5 mr-5">
        <div class="col-lg-7">
            <h1 class="logo mt-5">facebook</h1>
            <p class="intro">
                Facebook helps you connect and share <br> with the people in your life.
            </p>
        </div>
        <div class="col-lg-5">
            <div class="shadow p-3 mb-5 bg-body rounded text-center">
                <form th:action="@{/login}" class="form-group" th:object="${user}" method ="post">
                    <label for="email">Email</label>
                    <input class="form-control mb-3" id="email" type="text"  name="emailAddress" required th:field="*{email}" placeholder="Email address or phone number">
                    <label for="password">Password</label>
                    <input class="form-control mb-3" id="password" type="password"  name="password" required th:field="*{password}" placeholder="Password">
                    <button class="btn btn-primary btn-block" type="submit">Log In</button>
                    <p class="mt-3 mb-4 forgotten-password"><a href="forgotpassword.html">Forgotten Password?</a></p>

                    <a th:href="@{/register}" class="btn btn-success btn-lg" type="submit">Create New Account</a>
                </form>
            </div>
            <div><p class="text-center"><a class="create-page-link" href=""><b>Create a Page</b></a>  for a celebrity, band or business.</p></div>
        </div>
    </div>


</div>

</body>
</html>