<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Facebook Clone</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
                integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"
        />
        <link rel="stylesheet" th:href="@{/style.css}" />
    </head>
    <body>
        <div class="container">
            <div class="row ml-5 mr-5 signup-container">
                <div class="col-lg-5">
                    <h1 class="logo mt-5">facebook-clone</h1>
                    <p class="intro">facebook clone is a mock facebook social network</p>

                </div>
            <div class="col-lg-7">
                <div class="shadow p-3 mb-5 bg-body rounded">
                    <h4 class="mt-4">Sign Up</h4>
                    <p>Very Quick and Easy</p>

                        <form class="form-group" th:action="@{/register}"
                              method="post" th:object="${user}">
                            <div class="row">
                                <div class="col-sm-6">
                                    <!--FIRSTNAME-->
                                    <div class="form-group">
                                        <label for="firstName" class="font-weight-bold">First Name</label>
                                        <input type="text" id="firstName" class="form-control"
                                               name="firstName" th:field="*{firstName}"
                                               placeholder="Enter your first name" required/>
                                    </div>

                                    <!--Email -->
                                    <div class="form-group">
                                        <label for="email" class="font-weight-bold">Email</label>
                                        <input type="email" id="email" class="form-control"
                                               name="email" th:field="*{email}"
                                               aria-describedby="email-help" placeholder="someone@example.com"
                                               data-error="This field is required" required/>
                                        <div class="form-control-feedback help-block with-errors has-danger"></div>
                                    </div>
                                    <!--dateOfBirth-->
                                    <div class="form-group">
                                        <label for="dob" class="font-weight-bold">Date Of Birth</label>
                                        <input type="date" id="dob" class="form-control" placeholder="Enter Date Of Birth"
                                               name="dateOfBirth" th:field="*{dateOfBirth}" min="1905-01-01" max="2003-01-01"
                                               required/>
                                    </div>

                                </div>
                                <!-- /.col -->
                                <div class="col-sm-6">
                                    <!-- LASTNAME-->
                                    <div class="form-group">
                                        <label for="lastName" class="font-weight-bold">Last Name</label>
                                        <input type="text" id="lastName" class="form-control mb-3"
                                               name="lastName" th:field="*{lastName}"
                                               placeholder="Enter your surname" required/>
                                    </div>
                                    <!-- Password field-->
                                    <div class="form-group">
                                        <label for="password" class="font-weight-bold">Password</label>
                                        <input type="password" id="password" class="form-control"
                                               name="password" th:field="*{password}"
                                               placeholder="Enter password" required/>
                                    </div>
                                    <!-- Gender-->
                                    <fieldset class="form-group">
                                        <p class="font-weight-bold">Gender</p>
                                        <div class="custom-control custom-radio">
                                            <input id="flexRadioDefault1" class="custom-control-input"
                                                   type="radio" name="gender" value="male"
                                                   th:field="*{gender}" checked/>
                                            <label class="custom-control-label" for="flexRadioDefault1">Male</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input id="flexRadioDefault2" class="custom-control-input"
                                                   type="radio" name="gender" value="female"
                                                   th:field="*{gender}" checked/>
                                            <label class="custom-control-label" for="flexRadioDefault2">Female</label>
                                        </div>

                                    </fieldset>
                                </div>
                                <!-- /.col -->
                            </div>


                            <button class="btn btn-success btn-block" type="submit">
                                Create New Account
                            </button>
                            <p>Have an account? </p>
                            <a th:href="@{index}" type="submit"
                               class="btn btn-primary btn-block btn-lg text-center">Login</a>
                        </form>

                </div>


            </div>
            </div>

        </div>

    </body>
</html>